dataset: Clothing Fit Data - RentTheRunway



source: https://cseweb.ucsd.edu/~jmcauley/datasets.html#clothing_fit

citation: Decomposing fit semantics for product size recommendation in metric spaces


Rishabh Misra, Mengting Wan, Julian McAuley


RecSys, 2018



src: http://cseweb.ucsd.edu/~jmcauley/pdfs/recsys18e.pdf

In [0]:
import tensorflow as tf # in new version of colab, tf2 is the default option for tensorflow

# layers
from tensorflow.keras.layers import Input, Dense, Flatten, Concatenate, Embedding 
# models
from tensorflow.keras.models import Sequential, Model
# optimizers
from tensorflow.keras.optimizers import Adam, SGD


# additional imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle

Download and extract the dataset

In [2]:
# download the dataset
!wget -nc http://deepx.ucsd.edu/public/jmcauley/renttherunway/renttherunway_final_data.json.gz

--2020-03-31 11:05:37--  http://deepx.ucsd.edu/public/jmcauley/renttherunway/renttherunway_final_data.json.gz
Resolving deepx.ucsd.edu (deepx.ucsd.edu)... 169.228.63.216
Connecting to deepx.ucsd.edu (deepx.ucsd.edu)|169.228.63.216|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31493535 (30M) [application/octet-stream]
Saving to: ‘renttherunway_final_data.json.gz’

renttherunway_final 100%[===================>]  30.03M  13.6MB/s    in 2.2s

2020-03-31 11:05:45 (13.6 MB/s) - ‘renttherunway_final_data.json.gz’ saved [31493535/31493535]

In [0]:
data = pd.read_json('renttherunway_final_data.json.gz', lines = True, compression = 'gzip')

In [4]:
data.head()

   fit  user_id bust size  item_id  ... height  size    age         review_date
0  fit   420272       34d  2260466  ...  5' 8"    14   28.0      April 20, 2016
1  fit   273551       34b   153475  ...  5' 6"    12   36.0       June 18, 2013
2  fit   360448       NaN  1063761  ...  5' 4"     4  116.0   December 14, 2015
3  fit   909926       34c   126335  ...  5' 5"     8   34.0   February 12, 2014
4  fit   151944       34b   616682  ...  5' 9"    12   27.0  September 26, 2016

[5 rows x 15 columns]

In [22]:
for i in data.columns:
  print('Column: {} | Total NaN values: {}'.format(i,sum(pd.isna(data)[i])))

Column: fit | Total NaN values: 0
Column: user_id | Total NaN values: 0
Column: bust size | Total NaN values: 18411
Column: item_id | Total NaN values: 0
Column: weight | Total NaN values: 29982
Column: rating | Total NaN values: 82
Column: rented for | Total NaN values: 10
Column: review_text | Total NaN values: 0
Column: body type | Total NaN values: 14637
Column: review_summary | Total NaN values: 0
Column: category | Total NaN values: 0
Column: height | Total NaN values: 677
Column: size | Total NaN values: 0
Column: age | Total NaN values: 960
Column: review_date | Total NaN values: 0

# Preprocessing
I think there are few columns that I don't need (review_text, review_summary, review_data).
Also I need to preprocess the every column excluding the columns that I don't need. 

TODO:
* Drop "review_text","review_summary" and "review_date" columns
* Drop the rows that has nan values
* Do one hot encoding to following columns:
  * Bust size
  * rented for
  * body type
  * category
* Convert height from ft to centimeters